
				<div>
					<div class="fb-page" 
						data-href="{{website.facebookURL}}" 
						data-tabs="{{website.facebookTag}}" 
						data-small-header="true" 
						data-adapt-container-width="true" data-hide-cover="true" 
						data-width="360"
						data-height="300"
						data-show-facepile="false">
				</div>