<section class="disabled_website_banner">
	<div class="container">
		<div class="banner_content_top back_disabled">
				<p>&nbsp;</p>
		</div>
		<div><img src="{{ asset('bundles/app/images/errors/disabled.jpg') }}"></div>
		<div class="banner_content_bottom">
				<p>&nbsp;</p>
		</div>
	</div>
</section>
