{% extends "AppBundle::base.html.twig" %}

{% block body %}

<section class="innerpage_banner service_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class="banner_content_bottom">
			<h2>Services</h2>
		</div>
	</div>
</section>
<section class="service_page_panel">
	<div class="container">
		<div class="servicepage_box">
			<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="servicebox">
					<img alt="" src="images/srp1.jpg">
					<h2>Electric Panel Upgrade or repair</h2>
					<p>Lorem Ipsum is simply dummy text of the printing
and typesetting industry. Lorem Ipsum has been the
 industry's standard dummy text Lorem Ipsum is
simply dummy text of the</p>
				</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="servicebox">
					<img alt="" src="images/srp2.jpg">
					<h2>Bath Fan Repair</h2>
					<p>Lorem Ipsum is simply dummy text of the printing
and typesetting industry. Lorem Ipsum has been the
 industry's standard dummy text Lorem Ipsum is
simply dummy text of the</p>
				</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="servicebox">
					<img alt="" src="images/srp3.jpg">
					<h2>Ceiling fan Installation</h2>
					<p>Lorem Ipsum is simply dummy text of the printing
and typesetting industry. Lorem Ipsum has been the
 industry's standard dummy text Lorem Ipsum is
simply dummy text of the</p>
				</div>
				</div>
			</div>
		</div>
		</div>
		<div class="servicepage_box">
			<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="servicebox">
					<img alt="" src="images/srp4.jpg">
					<h2>Switch Installation</h2>
					<p>Lorem Ipsum is simply dummy text of the printing
and typesetting industry. Lorem Ipsum has been the
 industry's standard dummy text Lorem Ipsum is
simply dummy text of the</p>
				</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="servicebox">
					<img alt="" src="images/srp5.jpg">
					<h2>Ceiling fan repair</h2>
					<p>Lorem Ipsum is simply dummy text of the printing
and typesetting industry. Lorem Ipsum has been the
 industry's standard dummy text Lorem Ipsum is
simply dummy text of the</p>
				</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="servicebox">
					<img alt="" src="images/srp6.jpg">
					<h2>Fire Alarm Installation</h2>
					<p>Lorem Ipsum is simply dummy text of the printing
and typesetting industry. Lorem Ipsum has been the
 industry's standard dummy text Lorem Ipsum is
simply dummy text of the</p>
				</div>
				</div>
			</div>
		</div>
		</div>
		<div class="team_click srvclk">
					<h2>Click below to get yourself a quote</h2>
					<div class="teamq"><div class="slide_button"><a href="#">Get A Quote</a></div></div>
				</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>Please subscribe to be updated for discount and pricing</h2>
					<p>we keep your details confidential.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form>
						<input type="text" placeholder="Email Address" />
						<input type="submit" value="" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
