{% extends "AppBundle::base.html.twig" %}

{% block body %}

<section class="bodybox3">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about_head">
					<br><br><br><br><br><br><br><br>
					<h2>Error! Invalid Email Address</h2>
					<p>Please enter a valid email address</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
