{% extends "AppBundle::base.html.twig" %}

{% block body %}

<section class="innerpage_banner review_banner">
	<div class="container">
		<div class="banner_content_top">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
			<div class="rvst">
				<a href="#"><img src="images/rv-star.png" alt="" /></a>
			<a href="#"><img src="images/rv-star.png" alt="" /></a>
			<a href="#"><img src="images/rv-star.png" alt="" /></a>
			<a href="#"><img src="images/rv-star.png" alt="" /></a>
			<a href="#"><img src="images/rv-star.png" alt="" /></a>
			<h2>John doe, Business Name</h2>
			</div>
		<div class="banner_content_bottom rbbn">
			<h2>Reviews</h2>
		</div>
	</div>
</section>
<section class="review_panel">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
					</div>
					<div class="grt_wrk">Great work done by Coysh Expert</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Tidiness</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Friendly rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Value Rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<div class="reviewpage_info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<div class="rvcoma1"><img src="images/rv-coma1.png" alt="" /></div>
							<div class="rvcoma2"><img src="images/rv-coma2.png" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="images/rvfb.png" alt="" /></a>
								<a href="#"><img src="images/rvtwt.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
					</div>
					<div class="grt_wrk">Great work done by Coysh Expert</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Tidiness</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Friendly rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Value Rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<div class="reviewpage_info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<div class="rvcoma1"><img src="images/rv-coma1.png" alt="" /></div>
							<div class="rvcoma2"><img src="images/rv-coma2.png" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="images/rvfb.png" alt="" /></a>
								<a href="#"><img src="images/rvtwt.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
					</div>
					<div class="grt_wrk">Great work done by Coysh Expert</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Tidiness</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Friendly rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Value Rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<div class="reviewpage_info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<div class="rvcoma1"><img src="images/rv-coma1.png" alt="" /></div>
							<div class="rvcoma2"><img src="images/rv-coma2.png" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="images/rvfb.png" alt="" /></a>
								<a href="#"><img src="images/rvtwt.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
					</div>
					<div class="grt_wrk">Great work done by Coysh Expert</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Tidiness</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Friendly rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Value Rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<div class="reviewpage_info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<div class="rvcoma1"><img src="images/rv-coma1.png" alt="" /></div>
							<div class="rvcoma2"><img src="images/rv-coma2.png" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="images/rvfb.png" alt="" /></a>
								<a href="#"><img src="images/rvtwt.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
					</div>
					<div class="grt_wrk">Great work done by Coysh Expert</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Tidiness</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Friendly rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Value Rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<div class="reviewpage_info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<div class="rvcoma1"><img src="images/rv-coma1.png" alt="" /></div>
							<div class="rvcoma2"><img src="images/rv-coma2.png" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="images/rvfb.png" alt="" /></a>
								<a href="#"><img src="images/rvtwt.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
					</div>
					<div class="grt_wrk">Great work done by Coysh Expert</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Tidiness</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Friendly rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Value Rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<div class="reviewpage_info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<div class="rvcoma1"><img src="images/rv-coma1.png" alt="" /></div>
							<div class="rvcoma2"><img src="images/rv-coma2.png" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="images/rvfb.png" alt="" /></a>
								<a href="#"><img src="images/rvtwt.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="grayback_review">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
					</div>
					<div class="grt_wrk">Great work done by Coysh Expert</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Tidiness</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Friendly rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Value Rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<div class="reviewpage_info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<div class="rvcoma1"><img src="images/wht-coma.png" alt="" /></div>
							<div class="rvcoma2"><img src="images/wht-coma2.png" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="images/rvfb.png" alt="" /></a>
								<a href="#"><img src="images/rvtwt.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="reviewbox">
					<div class="startop">
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
						<a href="#"><img src="images/rvbox-star.png" alt="" /></a>
					</div>
					<div class="grt_wrk">Great work done by Coysh Expert</div>
					<div class="dt_rvw">12th August 2015</div>
					<div class="review_listing">
						<ul>
							<li>Time Management</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Tidiness</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Friendly rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<ul>
							<li>Value Rating</li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/sm-star.png" alt="" /></a></li>
						</ul>
						<div class="reviewpage_info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<div class="rvcoma1"><img src="images/wht-coma.png" alt="" /></div>
							<div class="rvcoma2"><img src="images/wht-coma2.png" alt="" /></div>
						</div>
						<div class="review_comment">
							<div class="cmnt">0 Comments</div>
							<div class="share_rvw">
								<span>Share :</span>
								<a href="#"><img src="images/rvfb.png" alt="" /></a>
								<a href="#"><img src="images/rvtwt.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="review_pagination">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="rv_pagination_listing">
					<ul>
						<li><a href="#"><img src="images/pg-arw1.jpg" alt="" /></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#"><img src="images/pg-arw1.jpg" alt="" /></a></li>
					</ul>
				</div>
				<div class="team_click">
					<h2>Click below to Post a Review about us</h2>
					<div class="teamq"><div class="slide_button rvquote"><a href="#">Write A Review</a></div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="subscribe susin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="subscribe_left">
					<h2>Please subscribe to be updated for discount and pricing</h2>
					<p>we keep your details confidential.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="subscribe_box">
					<form>
						<input type="text" placeholder="Email Address" />
						<input type="submit" value="" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
